/* Navigation bar custom styles */
.navbar-custom {
  background-image: linear-gradient(to right, #213a5c, #0e2038, #213a5c);
}

.navbar-custom .navbar-brand {
  color: #ffffff;
  font-weight: 600;
}

.navbar-custom .navbar-nav .nav-link {
  color: #ffffff;
  padding: 0.5rem 1rem;
  transition: all 0.2s ease-in-out;
}
